In [1]:
import os
import numpy as np
import pandas as pd

In [25]:
unrest_2017 = pd.read_csv('GDELT_2017/unrest_gdelt_2017_all.csv')

In [26]:
unrest_2017.dropna(axis=0,subset=['content'],inplace=True)

In [27]:
unrest_2017.shape

(51221, 12)

In [28]:
unrest_2017['<500content'] = ''

In [29]:
for i,row in unrest_2017.iterrows():
    if len(str(row['content'])) < 500:
        unrest_2017.set_value(i,'<500content',1)

In [32]:
unrest_2017 = unrest_2017[unrest_2017['<500content'] != 1]

In [59]:
other_all = pd.read_csv('other_articles/other_all.csv')

In [60]:
other_all.dropna(axis=0,subset=['content'],inplace=True)

In [61]:
other_all['<1000content'] = ''

In [62]:
for i,row in other_all.iterrows():
    if len(str(row['content'])) < 1000:
        other_all.set_value(i,'<1000content',1)

In [63]:
other_all = other_all[other_all['<1000content'] != 1]

In [50]:
#test = other_all.iloc[7689].content

In [85]:
for i,row in other_all.iterrows():
    #other_all.set_value(i,'content',str(row['content']).replace('\n',''))
    #other_all.set_value(i,'content',str(row['content']).replace('"',''))
    #other_all.set_value(i,'content',str(row['content']).replace('\\',''))
    other_all.set_value(i,'content',str(row['content']).replace(',',''))

In [92]:
other_all.groupby(by='category').count()

               Unnamed: 0  content  country   date  title    url  <1000content
category
entertainment       36457    36457    36287  36457  36457  36457         36457
finance             52526    52526    52007  52526  52526  52526         52526
sports              86236    86236    84350  86236  86236  86236         86236
technology          30914    30914    29943  30914  30914  30914         30914
travel              37342    37342    36436  37342  37342  37342         37342

In [93]:
other_all = other_all[other_all['category'] != 'finance']

In [94]:
other_all = other_all[other_all['category'] != 'entertainment']

In [98]:
other_all.shape

(154492, 8)

In [96]:
unrest_2017.shape

(51082, 13)

In [100]:
other_sub = other_all.sample(n=51082)

In [113]:
df_unrest.shape

(51082, 2)

In [102]:
unrest_2017.to_csv('GDELT_2017/large_dataset/unrest_2017_ie_toi.csv')

In [103]:
other_sub.to_csv('GDELT_2017/large_dataset/other_sub_travel_sports_tech.csv')

In [105]:
unrest_2017['category'] = 'unrest'

In [107]:
df_unrest = unrest_2017[['category','content']]

In [109]:
df_other = other_sub[['category','content']]

In [115]:
df_all = pd.concat([df_unrest,df_other])

In [119]:
df_all = df_all.sample(frac=1).reset_index(drop=True)

In [120]:
df_all['category_id'] = ''

In [121]:
for i,row in df_all.iterrows():
    if row['category'] != 'unrest':
        df_all.set_value(i,'category','other')
        # category id is 2 for other articles
        df_all.set_value(i,'category_id',2)
    else:
        # category id is 1 for unrest articles
        df_all.set_value(i,'category_id',1)

In [123]:
df_all.to_csv('GDELT_2017/large_dataset/all_data.csv')