In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [3]:
feb1 = pd.read_csv('/Users/venkatakrishnamohansunkara/Desktop/reqd docs/Data_Mining/data_mining/project/test_textmining/event_locations_text_mining2 (1).csv')

feb2 = pd.read_csv('/Users/venkatakrishnamohansunkara/Desktop/reqd docs/Data_Mining/data_mining/project/test_textmining/event_locations_text_mining3.csv')

In [29]:
mar1 = pd.read_csv('/Users/venkatakrishnamohansunkara/Desktop/reqd docs/Data_Mining/data_mining/project/test_textmining/event_locations_text_mining2.csv')

mar2 = pd.read_csv('/Users/venkatakrishnamohansunkara/Desktop/reqd docs/Data_Mining/data_mining/project/test_textmining/event_locations_text_mining4.csv')

In [32]:
mar2.drop('Unnamed: 0',axis=1,inplace=True)

In [33]:
mar2.head()

         lat        lon                 filename
0  25.594095  85.137564  3-1-2017_article129.txt
1  21.145800  79.088155  3-1-2017_article155.txt
2  21.145800  79.088155  3-1-2017_article158.txt
3  21.170240  72.831061  3-1-2017_article179.txt
4  23.022505  72.571362  3-1-2017_article180.txt

In [34]:
sentiment_data = pd.DataFrame(columns=['lat','lon','Date','filename','content'])

In [42]:
sentiment_data = pd.DataFrame(columns=['lat','lon','Date'])

In [40]:
ind = 0
for i,row in mar2.iterrows():
    date = row['filename'].split('_')[0]
    file = "/Users/venkatakrishnamohansunkara/Desktop/DM/mar_articles_unrest/"+row['filename']
    data = ""
    try:
        with open(file,'r') as myfile:
            data = myfile.readlines()[3:]
        data = ''.join(data)
        sentiment_data = sentiment_data.append({'lat': row['lat'],'lon': row['lon'],'Date': date,'filename':row['filename'],'content':data},ignore_index=True)
    except:
        continue

In [41]:
sentiment_data.shape

(2855, 5)

In [42]:
sentiment_data.to_csv('unrest_sentiment_analysis_data_mar.csv')

In [43]:
sentiment_data_other = pd.DataFrame(columns=['Category','Content'])

In [45]:
for file in glob.glob("/Users/venkatakrishnamohansunkara/Desktop/DM/mar_articles_other/"+"*"):
    categ = "other"
    try:
        with open(file,'r') as myfile:
            data = myfile.readlines()[3:]
        data = ''.join(data)
        sentiment_data_other = sentiment_data_other.append({'Category':categ,'Content':data},ignore_index=True)
    except:
        continue

In [55]:
df2 = pd.read_csv('articels_dataset.csv')

In [57]:
df2.drop(['Unnamed: 0'],axis=1,inplace=True)

In [58]:
df2.head()

  Category                                            Content
0   unrest  GANDHINAGAR: The state government's vaunted 'K...
1   unrest  CHANDIGARH: To avoid further embarrassment, th...
2   unrest  LUCKNOW: A committed RSS pracharak since 1977,...
3   unrest  Sangam: At a time when Allahabad is playing ho...
4   unrest  CHENNAI: As news of the violence spread, the a...

In [60]:
df_other = df2[df2['Category'] == 'other']

In [46]:
sentiment_data_other.head()

  Category                                            Content
0    other  LUCKNOW: Priyanka Gandhi's enhanced role in Co...
1    other  Sushant Singh Rajput and Jacqueline Fernandez ...
2    other  KOLKATA: It may be a modest start but 35 stree...
3    other  IMPHAL: Governor Najma Heptulla on Friday call...
4    other  Actor Suraj Sharma will be seen opposite Anush...

In [47]:
sentiment_data_other.to_csv('other_sentiment_analysis_data_mar.csv')

In [59]:
jan_unrest = pd.read_csv('unrest_sentiment_analysis_data_jan.csv')

In [49]:
jan_other = pd.read_csv('other_sentiment_analysis_data_jan.csv')

In [50]:
feb_unrest = pd.read_csv('unrest_sentiment_analysis_data_feb.csv')

In [51]:
feb_other = pd.read_csv('other_sentiment_analysis_data_feb.csv')

In [52]:
mar_unrest = pd.read_csv('unrest_sentiment_analysis_data_mar.csv')

In [53]:
mar_other = pd.read_csv('other_sentiment_analysis_data_mar.csv')

In [54]:
unrest_data = pd.concat([jan_unrest,feb_unrest,mar_unrest])

In [62]:
jan_unrest = jan_unrest[['lat','lon','Date','filename','content']]

In [78]:
mar_other.drop(['Unnamed: 0'],axis=1,inplace=True)

In [80]:
jan_other.head()

  Category                                            Content
0    other  MUMBAI: "It hurts, man, it really hurts," repl...
1    other  The city’s art connoisseurs were in for a trea...
2    other  LUCKNOW: Eager to rev up her political prospec...
3    other  GANDHINAGAR: The eighth edition of the Vibrant...
4    other  There is good news for all SRK and Salman Khan...

In [83]:
other_data = pd.concat([jan_other,feb_other,mar_other])

In [84]:
unrest_data.head()

,lat,lon,Date,filename,content
0,23.2156354,72.6369415,1/18/17,1-18-2017_article272.txt,GANDHINAGAR: The state government's vaunted 'K...
1,26.8466937,80.946166,1/28/17,1-28-2017_article445.txt,"LUCKNOW: A committed RSS pracharak since 1977,..."
2,13.0826802,80.2707184,1/24/17,1-24-2017_article225.txt,"CHENNAI: As news of the violence spread, the a..."
3,19.2812547,73.0482912,1/21/17,1-21-2017_article357.txt,BHIWANDI: Three boys have been rescued from th...
4,30.7333148,76.7794179,1/28/17,1-28-2017_article337.txt,CHANDIGARH: As chief of internal security and ...

In [85]:
unrest_data.to_csv('sentiment_analysis_unrest.csv')

In [86]:
other_data.to_csv('sentiment_analysis_other.csv')

In [2]:
df = pd.read_csv('sentiment_analysis_unrest.csv')